/*------------------------------------ 
   This is not referenced by the theme.
   All theme styling should be done in-line in theme.xml, 
   but can work in this to have better syntax highlighting, 
   transfer to theme.xml.
------------------------------------*/
/*------ CUSTOM STYLING ---------- */
* {
  box-sizing: border-box;
}
html {
  font-size: 16px
}
/* CSS for iOS status bar */
@media (display-mode: standalone),
       (fullscreen) {
  /* Change the background color of the status bar */
  :root {
    --status-bar-background-color: #000000; /* Replace with your desired color */
  }

  /* Apply the background color to the status bar */
  /* Use !important to override default styles */
  @supports (padding-top: constant(safe-area-inset-top)) or
            (padding-top: env(safe-area-inset-top)) {
    body {
      padding-top: constant(safe-area-inset-top);
      padding-top: env(safe-area-inset-top);
      background-color: var(--status-bar-background-color) !important;
    }
  }
}


a.next-button {
    background-color: #CB2127;
    border: 2px solid #fff;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    box-sizing: border-box;
    opacity: 1;
    padding: 0.7em 1.5em;
    border-radius: 5px;
    transition: all .17s ease;
}
a.next-button:hover {
  opacity: 0.8;
}
a.next-button.outline {
  background: transparent;
  border: 2px solid #fff;
}
a.next-button.icon {
  
}
a.next-button.icon svg {
  height: 19px;
  width: auto;
}
#next-hero-wrapper-outer {
  background-color: #1a1a1a;
  background-image: url('https://raw.githubusercontent.com/ncaanext/ncaanext-website/main/assets/images/bg-turf.jpg');
}

.next-hero {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.next-hero--image {
  width: 100%;
  height: 300px;
  flex: none;
  position: relative;
  background-color: #1a1a1a;
  background-size: cover;
  background-position: 50%;
  background-image: url('https://raw.githubusercontent.com/ncaanext/ncaanext-website/main/assets/images/hero-image.jpg');
}

.next-hero--content {
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100%;
  text-align: center;
}
.next-hero--content p {
  line-height: 1.5;
}
.next-hero--content img {
  height: auto;
  max-width: 100%;
}
.next-hero--content .lead {
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 1.25;
}
.cta-buttons-wrap {
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.next-hero-boxes {
  margin: 40px auto 0;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.next-hero-boxes > div { 
  width: 100%;
  padding: 20px;
}
.next-card {
  width: 100%;
}
.next-card .image {
  position:relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.next-card .image img {
  max-width: 100%;
  position: absolute;
  inset: 0;
  width: 100%; 
  height: 100%;
  object-fit: cover;
}
.next-card .content {
  color: #fff;
}
.next-card .content h3 {
  font-size: 26px;
  margin: 15px 0;
}
.next-card .content p {
  line-height: 1.5;
}
@media (min-width: 1101px) {
  .next-hero,
  .next-hero-boxes {
    width: 1250px;
  }
}
@media (min-width: 980px) {
  .next-hero {
    flex-direction: row;
    
  }
  .next-hero-boxes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
  }
  .next-hero-boxes > div {
    width: calc(33.3% - 20px);
    padding: 0;
  }
  .next-hero--image {
    width: 50%;
    height: auto;
    order: 2;
  }
  .next-hero--content {
    padding: 50px;
  }
  .next-hero--content p {
    max-width: 500px
  }
}

/* youtube video embed wrapper */
.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ------- END CUSTOM STYLING ----------- */